.header {
    margin: auto;
    max-width:  1280px;
    display: flex;
    min-height: 58px;
    padding: 16px 16px 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;
}

@media (min-width: 768px) {
    .header {
        min-height: 80px;
        padding: 28px 24px 0;
    }

}

@media (min-width: 1024px) {
    .header {
        padding: 28px 48px 0;
    }

}
