.lead__image{
    width: 100%;
    min-height: 200px;
    padding: 29px 8px 85px;
    margin-top: 40px;
    box-sizing: border-box;
    object-fit: contain;
    background-image: url("../../../images/sleep_wooman.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (min-width: 768px) {
    .lead__image{
        padding: 70px 18px 204px;
        margin-top: 56px;

    }


}

@media (min-width: 1024px) {
    .lead__image{
        padding: 85px 22px 246px;

    }
}


@media (min-width: 1280px) {
    .lead__image{
        padding: 90px 23px 261px;
        margin-top: 64px;

    }

}